/* globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  min-height: fit-content;
}

/* Tailwind CSS: Add animation class in your global CSS or Tailwind config */
@keyframes moveCarousel {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}


/* Make sure your partner images are evenly spaced and aligned */
.carousel-container {
  display: flex;
  gap: 2rem; /* Space between items */
  align-items: center; /* Align items vertically at the center */
  justify-content: center; /* Align items horizontally at the center */
}

.carousel-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 128px;
  height: 128px;
  border-radius: 10px; /* Ensure images are circular */
  overflow: hidden;
}




/* Additional custom styles */
@keyframes float-in {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}



@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 1s ease-out forwards;
}









